<a href="https://colab.research.google.com/github/bunnynoddy14/Telecom-Churn-UpGrade/blob/main/Telecom_churn_Case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importing Libraries to Perform basic EDA

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [48]:
import warnings
warnings.filterwarnings('ignore')

#### Reading and Checking the Dataset

In [49]:
df = pd.read_csv('/content/telecom_churn_data.csv')

In [50]:
df.head()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,last_date_of_month_9,arpu_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
0,7000842753,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,197.385,...,0,1.0,1.0,1.0,NaN,968,30.4,0.0,101.20,3.58
1,7001865778,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,34.047,...,0,NaN,1.0,1.0,NaN,1006,0.0,0.0,0.00,0.00
2,7001625959,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,167.690,...,0,NaN,NaN,NaN,1.0,1103,0.0,0.0,4.17,0.00
3,7001204172,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,221.338,...,0,NaN,NaN,NaN,NaN,2491,0.0,0.0,0.00,0.00
4,7000142493,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,9/30/2014,261.636,...,0,0.0,NaN,NaN,NaN,1526,0.0,0.0,0.00,0.00

In [51]:
df.shape

(99999, 226)

In [52]:
df.describe()

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_9,fb_user_6,fb_user_7,fb_user_8,fb_user_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g
count,9.999900e+04,99999.0,98981.0,98981.0,98981.0,99999.000000,99999.000000,99999.000000,99999.000000,96062.000000,...,99999.000000,25153.000000,25571.000000,26339.000000,25922.000000,99999.000000,99999.000000,99999.000000,99999.000000,99999.000000
mean,7.001207e+09,109.0,0.0,0.0,0.0,282.987358,278.536648,279.154731,261.645069,132.395875,...,0.084581,0.914404,0.908764,0.890808,0.860968,1219.854749,68.170248,66.839062,60.021204,3.299373
std,6.956694e+05,0.0,0.0,0.0,0.0,328.439770,338.156291,344.474791,341.998630,297.207406,...,0.650457,0.279772,0.287950,0.311885,0.345987,954.733842,267.580450,271.201856,253.938223,32.408353
min,7.000000e+09,109.0,0.0,0.0,0.0,-2258.709000,-2014.045000,-945.808000,-1899.505000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000606e+09,109.0,0.0,0.0,0.0,93.411500,86.980500,84.126000,62.685000,7.380000,...,0.000000,1.000000,1.000000,1.000000,1.000000,467.000000,0.000000,0.000000,0.000000,0.000000
50%,7.001205e+09,109.0,0.0,0.0,0.0,197.704000,191.640000,192.080000,176.849000,34.310000,...,0.000000,1.000000,1.000000,1.000000,1.000000,863.000000,0.000000,0.000000,0.000000,0.000000
75%,7.001812e+09,109.0,0.0,0.0,0.0,371.060000,365.344500,369.370500,353.466500,118.740000,...,0.000000,1.000000,1.000000,1.000000,1.000000,1807.500000,0.000000,0.000000,0.000000,0.000000
max,7.002411e+09,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,38805.617000,7376.710000,...,49.000000,1.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.210000,2618.570000

In [53]:
### checking the null values in the dataset with percentage in ascending order
df.isnull().sum().sort_values(ascending=False)/len(df)*100

arpu_3g_6            74.846748
night_pck_user_6     74.846748
total_rech_data_6    74.846748
arpu_2g_6            74.846748
max_rech_data_6      74.846748
                       ...
max_rech_amt_7        0.000000
max_rech_amt_6        0.000000
total_rech_amt_9      0.000000
total_rech_amt_8      0.000000
sep_vbc_3g            0.000000
Length: 226, dtype: float64

In [54]:
### show coloumn with more than 30% null values from the dataset & drop all them
df.drop(df.loc[:,df.isnull().mean()>0.3].columns,axis=1,inplace=True)

In [55]:
df.shape

(99999, 186)

In [56]:
### Dropping time columns since it is not relevent for our study
df.drop(['last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8', 'last_date_of_month_9'], axis=1,inplace=True)

In [57]:
df.shape

(99999, 182)

In [58]:
df.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 182 columns):
 #    Column               Dtype
---   ------               -----
 0    mobile_number        int64
 1    circle_id            int64
 2    loc_og_t2o_mou       float64
 3    std_og_t2o_mou       float64
 4    loc_ic_t2o_mou       float64
 5    arpu_6               float64
 6    arpu_7               float64
 7    arpu_8               float64
 8    arpu_9               float64
 9    onnet_mou_6          float64
 10   onnet_mou_7          float64
 11   onnet_mou_8          float64
 12   onnet_mou_9          float64
 13   offnet_mou_6         float64
 14   offnet_mou_7         float64
 15   offnet_mou_8         float64
 16   offnet_mou_9         float64
 17   roam_ic_mou_6        float64
 18   roam_ic_mou_7        float64
 19   roam_ic_mou_8        float64
 20   roam_ic_mou_9        float64
 21   roam_og_mou_6        float64
 22   roam_og_mou_7        float64
 23   roam_og_mou_8        float64
 24   roam_og_mou_9        float64
 25   loc_og_t2t_mou_6     float64
 26   loc_og_t2t_mou_7     float64
 27   loc_og_t2t_mou_8     float64
 28   loc_og_t2t_mou_9     float64
 29   loc_og_t2m_mou_6     float64
 30   loc_og_t2m_mou_7     float64
 31   loc_og_t2m_mou_8     float64
 32   loc_og_t2m_mou_9     float64
 33   loc_og_t2f_mou_6     float64
 34   loc_og_t2f_mou_7     float64
 35   loc_og_t2f_mou_8     float64
 36   loc_og_t2f_mou_9     float64
 37   loc_og_t2c_mou_6     float64
 38   loc_og_t2c_mou_7     float64
 39   loc_og_t2c_mou_8     float64
 40   loc_og_t2c_mou_9     float64
 41   loc_og_mou_6         float64
 42   loc_og_mou_7         float64
 43   loc_og_mou_8         float64
 44   loc_og_mou_9         float64
 45   std_og_t2t_mou_6     float64
 46   std_og_t2t_mou_7     float64
 47   std_og_t2t_mou_8     float64
 48   std_og_t2t_mou_9     float64
 49   std_og_t2m_mou_6     float64
 50   std_og_t2m_mou_7     float64
 51   std_og_t2m_mou_8     float64
 52   std_og_t2m_mou_9     float64
 53   std_og_t2f_mou_6     float64
 54   std_og_t2f_mou_7     float64
 55   std_og_t2f_mou_8     float64
 56   std_og_t2f_mou_9     float64
 57   std_og_t2c_mou_6     float64
 58   std_og_t2c_mou_7     float64
 59   std_og_t2c_mou_8     float64
 60   std_og_t2c_mou_9     float64
 61   std_og_mou_6         float64
 62   std_og_mou_7         float64
 63   std_og_mou_8         float64
 64   std_og_mou_9         float64
 65   isd_og_mou_6         float64
 66   isd_og_mou_7         float64
 67   isd_og_mou_8         float64
 68   isd_og_mou_9         float64
 69   spl_og_mou_6         float64
 70   spl_og_mou_7         float64
 71   spl_og_mou_8         float64
 72   spl_og_mou_9         float64
 73   og_others_6          float64
 74   og_others_7          float64
 75   og_others_8          float64
 76   og_others_9          float64
 77   total_og_mou_6       float64
 78   total_og_mou_7       float64
 79   total_og_mou_8       float64
 80   total_og_mou_9       float64
 81   loc_ic_t2t_mou_6     float64
 82   loc_ic_t2t_mou_7     float64
 83   loc_ic_t2t_mou_8     float64
 84   loc_ic_t2t_mou_9     float64
 85   loc_ic_t2m_mou_6     float64
 86   loc_ic_t2m_mou_7     float64
 87   loc_ic_t2m_mou_8     float64
 88   loc_ic_t2m_mou_9     float64
 89   loc_ic_t2f_mou_6     float64
 90   loc_ic_t2f_mou_7     float64
 91   loc_ic_t2f_mou_8     float64
 92   loc_ic_t2f_mou_9     float64
 93   loc_ic_mou_6         float64
 94   loc_ic_mou_7         float64
 95   loc_ic_mou_8         float64
 96   loc_ic_mou_9         float64
 97   std_ic_t2t_mou_6     float64
 98   std_ic_t2t_mou_7     float64
 99   std_ic_t2t_mou_8     float64
 100  std_ic_t2t_mou_9     float64
 101  std_ic_t2m_mou_6     float64
 102  std_ic_t2m_mou_7     float64
 103  std_ic_t2m_mou_8     float64
 104  std_ic_t2m_mou_9     float64
 105  std_ic_t2f_mou_6     float64
 106  std_ic_t2f_mou_7     float64
 107  std_ic_t2f_mou_8     float64
 108  std_ic_t2f_mou_9     float64
 109  std_ic_t2o_mou_6     float64
 110  std_ic_t2o_mou_7     float64
 111  std_ic_t2o_mou_8     float64
 112  std_ic_t2o_mou_9     float64
 113  std_ic_mou_6         float64
 114  std_ic_mou_7         float64
 115  std_ic_mou_8         float64
 116  std_ic_mou_9         float64
 117  total_ic_mou_6       float64
 118  total_ic_mou_7       float64
 119  total_ic_mou_8       float64
 120  total_ic_mou_9       float64
 121  spl_ic_mou_6         float64
 122  spl_ic_mou_7         float64
 123  spl_ic_mou_8         float64
 124  spl_ic_mou_9         float64
 125  isd_ic_mou_6         float64
 126  isd_ic_mou_7         float64
 127  isd_ic_mou_8         float64
 128  isd_ic_mou_9         float64
 129  ic_others_6          float64
 130  ic_others_7          float64
 131  ic_others_8          float64
 132  ic_others_9          float64
 133  total_rech_num_6     int64
 134  total_rech_num_7     int64
 135  total_rech_num_8     int64
 136  total_rech_num_9     int64
 137  total_rech_amt_6     int64
 138  total_rech_amt_7     int64
 139  total_rech_amt_8     int64
 140  total_rech_amt_9     int64
 141  max_rech_amt_6       int64
 142  max_rech_amt_7       int64
 143  max_rech_amt_8       int64
 144  max_rech_amt_9       int64
 145  date_of_last_rech_6  object
 146  date_of_last_rech_7  object
 147  date_of_last_rech_8  object
 148  date_of_last_rech_9  object
 149  last_day_rch_amt_6   int64
 150  last_day_rch_amt_7   int64
 151  last_day_rch_amt_8   int64
 152  last_day_rch_amt_9   int64
 153  vol_2g_mb_6          float64
 154  vol_2g_mb_7          float64
 155  vol_2g_mb_8          float64
 156  vol_2g_mb_9          float64
 157  vol_3g_mb_6          float64
 158  vol_3g_mb_7          float64
 159  vol_3g_mb_8          float64
 160  vol_3g_mb_9          float64
 161  monthly_2g_6         int64
 162  monthly_2g_7         int64
 163  monthly_2g_8         int64
 164  monthly_2g_9         int64
 165  sachet_2g_6          int64
 166  sachet_2g_7          int64
 167  sachet_2g_8          int64
 168  sachet_2g_9          int64
 169  monthly_3g_6         int64
 170  monthly_3g_7         int64
 171  monthly_3g_8         int64
 172  monthly_3g_9         int64
 173  sachet_3g_6          int64
 174  sachet_3g_7          int64
 175  sachet_3g_8          int64
 176  sachet_3g_9          int64
 177  aon                  int64
 178  aug_vbc_3g           float64
 179  jul_vbc_3g           float64
 180  jun_vbc_3g           float64
 181  sep_vbc_3g           float64
dtypes: float64(143), int64(35), object(4)
memory usage: 138.9+ MB

In [59]:
### Few more date columns need to drop
df.drop(['date_of_last_rech_6','date_of_last_rech_7','date_of_last_rech_8','date_of_last_rech_9'],axis=1,inplace=True)

In [60]:
### Checking data shape again
df.shape

(99999, 178)

In [63]:
## value count of column total_rech_num_6
df['total_rech_num_7'].value_counts()

total_rech_num_7
4      12425
3      11782
5      10990
6       8982
2       8076
       ...
83         1
98         1
119        1
138        1
120        1
Name: count, Length: 101, dtype: int64

### Filtering out the high recharge customer

In [64]:
## summing up recharge column to new column and taking average of both the columns to the new column
df['avg_rech_amt_6_7'] = (df['total_rech_amt_6'] + df['total_rech_amt_7'])/2

In [68]:
## As per problem statement finding high value customer
X = df['avg_rech_amt_6_7'].quantile(0.70)
X

368.5

In [73]:
### finding customer who has recharged more than 368.5 amount
df1 = df[df['avg_rech_amt_6_7'] > X]
df1

,mobile_number,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,arpu_9,onnet_mou_6,...,sachet_3g_6,sachet_3g_7,sachet_3g_8,sachet_3g_9,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,sep_vbc_3g,avg_rech_amt_6_7
7,7000701601,109,0.0,0.0,0.0,1069.180,1349.850,3171.480,500.000,57.84,...,0,0,0,0,802,57.74,19.38,18.74,0.0,1185.0
8,7001524846,109,0.0,0.0,0.0,378.721,492.223,137.362,166.787,413.69,...,0,0,0,0,315,21.03,910.65,122.16,0.0,519.0
13,7002191713,109,0.0,0.0,0.0,492.846,205.671,593.260,322.732,501.76,...,0,0,0,0,2607,0.00,0.00,0.00,0.0,380.0
16,7000875565,109,0.0,0.0,0.0,430.975,299.869,187.894,206.490,50.51,...,0,0,0,0,511,0.00,2.45,21.89,0.0,459.0
17,7000187447,109,0.0,0.0,0.0,690.008,18.980,25.499,257.583,1185.91,...,0,0,0,0,667,0.00,0.00,0.00,0.0,408.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,7001386760,109,0.0,0.0,0.0,261.269,410.614,290.851,330.963,5.01,...,0,0,0,0,1022,0.00,0.00,0.00,0.0,392.0
99974,7001453306,109,0.0,0.0,0.0,414.303,321.093,371.016,306.689,17.56,...,0,0,0,0,3054,0.00,0.00,0.00,0.0,465.0
99986,7001729035,109,0.0,0.0,0.0,644.973,455.228,564.334,267.451,806.73,...,0,0,0,0,2696,497.45,598.67,604.08,0.0,848.5
99988,7002111859,109,0.0,0.0,0.0,312.558,512.932,402.080,533.502,199.89,...,0,0,0,0,328,104.73,0.00,0.00,0.0,467.0
99997,7000498689,109,0.0,0.0,0.0,322.991,303.386,606.817,731.010,0.00,...,1,0,0,0,478,1445.74,1151.03,1173.18,0.0,369.5

In [74]:
df1.shape

(29979, 179)